@import url('https://fonts.googleapis.com/css2?family=Arima&family=Josefin+Sans:wght@300;400&family=Roboto:wght@100;400&family=Rubik+Moonrocks&display=swap');
* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: 'Arima', cursive;
    font-size: 17px;
  }


#header { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(https://images.pexels.com/photos/2080960/pexels-photo-2080960.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
   
  }
  
  .content{
    color: aliceblue;
    padding: 150px;
    text-align: center;
}

.content h1{
    font-size: 60px;
}


  
  #ChooseUs img {
    width: 100%;
    height: 350px;
  }
  
  #reviews img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
/* swiper */
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

